---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const pageTitle: string = "About Me";

const identity: {
	firstName: string,
	country: string,
	occupation: string,
	hobbies: Array<string>
} = {
	firstName: "Manuel",
	country: "Mexico",
	occupation: "Computer Science Student",
	hobbies: ["workout", "read", "produce music"],
};

const skills = [
	"HTML",
	"CSS",
	"JavaScript",
	"React",
	"Astro",
	"Linux",
	"Bash",
	"Docker",
	"Rust",
	"C",
	"Git",
];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
				color: red;
				font-size: 4rem;
			}

			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
		<Navigation />

		<h1>{pageTitle}</h1>

		<p>Here are a few facts about me:</p>
		<ul>
			<li>My name is {identity.firstName}.</li>
			<li>I live in {identity.country} and I am a {identity.occupation}.</li>
			{identity.hobbies.length >= 2 &&
				<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}.</li>
			}
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>

		<Footer />
	</body>
</html>
